# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
release/
dist-electron/
dist-ssr
videos-download/
*.local
src_oop
components.d.ts
src/common/css/fixed/*.css
src/common/css/index/*.css
videos-download/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
